h3 {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;

  text-align: left;
}

p {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;

  text-align: left;
}

table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: none;
  text-align: left;
  table-layout: fixed;
  margin-left: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
