.content {
  margin: 5%;
}

hr {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: black;
  border: 0;
  border-top: 2px solid gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
